<!doctype html>
<html lang="en" data-framework="tcomb-todomvc">
  <head>
    <meta charset="utf-8">
    <title>tom • TodoMVC</title>
    <link rel="stylesheet" href="assets/css/base.css">
  </head>
  <body>
    <section id="todoapp"><%= ui %></section>
    <footer id="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="http://github.com/gcanti/">gcanti</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <script>
    var state = <%= state %>;
    </script>
    <script src="assets/bundle.js"></script>
  </body>
</html>
